<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <meta charset="utf-8" />
    <link href="css.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
      <div id="logo">
        <a href="/">logo</a>
      </div>

      <div class="block">
        xz
      </div>

      <div class="block">
        xz
      </div>

      <div id="register">
              <a href="/register">Регистрация</a>
      </div>

    </header>

    <div id="signup">
    <h1>Войти</h1>
    <form method="post" action="/signup">
        <label>Логин</label><br>
        <input name="login" class="field"/><br>
        <label>Пароль</label><br>
        <input name="pass" class="field" /><br>
        <input type="submit" value="Отправить" />
     </form>
    </div>
</body>
</html>
